@import "~bootstrap/scss/bootstrap.scss";


.home{
    text-align: center;
    background: rgb(255, 173, 186);
    min-width: 600px;
    min-height: 600px;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 160px;
    padding: 15px;
    box-shadow: 5px 5px  rgba(192, 149, 149, 0.877); ;
    border-bottom: 1px darkgray;
    border-radius: 20px;
}

.my-input{
    max-width: 550px;
    height: 40px;
    border: none !important;
    margin: auto;
    background:rgba(253, 229, 229, 0.500) !important;
    border-radius: 20px;
    
}

.my-ul{
    list-style-type: none;
}

.my-li{
  
    justify-content: left;
    padding-top: 10px;
    font-size: 20px;
    text-align: left !important;
    margin-right: 40px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .03px gray solid;
    background:rgba(253, 229, 229, 0.397);
    margin-top: 10px;
    padding: 4px;
    box-shadow: 3px 3px rgba(172, 141, 141, 0.877);
    border-radius: 20px;
}
.close-btn{
    display: none;
    text-decoration: none !important;
   color: black;
    padding: 2px;
}

.my-li:hover .close-btn{
    display: block !important;
    cursor: pointer;
}

